operations-app:
  contactpoint: "https://ops-bk.sandbox.fynarfin.io"
  dpgcontactpoint: "https://ops-bk-dpg.sandbox.fynarfin.io"
  username: "mifos"
  password: "password"
  auth:
    enabled: false
    header: "Basic Y2xpZW50Og=="
  endpoints:
    auth: "/oauth/token"
    batch-summary: "/api/v1/batch"
    batch-details: "api/v1/batch/detail"
    batch-transaction: "/api/v1/batch/transactions"
    batches: "/api/v1/batches"
    batch-aggregate: "/api/v1/batch/"
    transfers: "/api/v1/transfers"
    variables: "/api/v1/variables"
    transactionRequests: "/api/v1/transactionRequests"
    actuator: "/actuator/health"

paybill:
  mpesa-connector:
    contactpoint: https://mpesa.sandbox.fynarfin.io
    endpoints:
      validation: "/validation"
      settlement: "/confirmation"

bulk-processor:
  contactpoint: "https://bulk-connector.sandbox.fynarfin.io"
  endpoints:
    bulk-transactions: "/batchtransactions"
    simulate: "/simulate"
    actuator: "/actuator/health"


channel-connector:
  contactpoint: "https://channel.sandbox.fynarfin.io"
  endpoints:
    transfer: "/channel/transfer"
    gsma-p2p: "/channel/gsma/transfer"
    gsma-deposit: "/channel/gsma/deposit"
    collection: "/channel/collection"
    transferReq: "/channel/transactionRequest"
    actuator: "/actuator/health"


max-retry-count: 5
retry-interval: 15000

defaults:
  tenant: "gorilla"
  authorization: "Basic bWlmb3M6cGFzc3dvcmQ="

channel:
  base-url: https://channel.sandbox.fynarfin.io
  endpoint: /channel/gsma/transaction

amsmifos:
  mock:
    base-url: https://ams-mifos-mock.sandbox.fynarfin.io
    endpoints:
      repayment-endpoint: /fineract/transactions/loanrepayment
      deposit-endpoint: /fineract/savingsaccount/transfers

ams:
  base-url: https://ams-mifos.sandbox.fynarfin.io
  balance-endpoint: /ams/accounts/{IdentifierType}/{IdentifierId}/balance
  status-endpoint: /ams/accounts/{IdentifierType}/{IdentifierId}/status
  name-endpoint: /ams/accounts/{IdentifierType}/{IdentifierId}/accountname

loan:
  base-url: https://fynams.sandbox.fynarfin.io
  endpoints:
    product-endpoint: /fineract-provider/api/v1/loanproducts
    account-endpoint: /fineract-provider/api/v1/loans
    approve-endpoint: /fineract-provider/api/v1/loans/{{loanAccId}}
    disburse-endpoint: /fineract-provider/api/v1/loans/{{loanAccId}}
    repayment-endpoint: /fineract-provider/api/v1/interoperation/transactions/{{loanAccId}}/loanrepayment
    accountid-endpoint: /fineract-provider/api/v1/loans/{{loanAccId}}

savings:
  base-url: https://fynams.sandbox.fynarfin.io
  endpoints:
    client-endpoint: /fineract-provider/api/v1/clients
    product-endpoint: /fineract-provider/api/v1/savingsproducts
    account-endpoint: /fineract-provider/api/v1/savingsaccounts
    approve-endpoint: /fineract-provider/api/v1/savingsaccounts/{{savingsAccId}}
    activate-endpoint: /fineract-provider/api/v1/savingsaccounts/{{savingsAccId}}
    deposit-endpoint: /fineract-provider/api/v1/savingsaccounts/{{savingsAccId}}/transactions
    interop-identifier-endpoint: /fineract-provider/api/v1/interoperation/parties/{{identifierType}}/{{identifier}}
    balance-endpoint: /fineract-provider/api/v1/savingsaccounts/{savingsAccId}}

mock-server:
  port: 53013

callback_url: ${CALLBACK_URL:localhost}

json-web-signature:
  privateKey: "MIIEvQIBADANBgkqhkiG9w0BAQEFAASCBKcwggSjAgEAAoIBAQC07fxdEQlsvWvggBgrork401cdyZ9MqV6FF/RgX6+Om23gP/rME5sE5//OoG61KU3dEj9phcHH845TuyNEyc4Vhqxe1gzl4VIZkOj+/2qxYvCsP1Sv3twTs+fDfFv5NA1ZXqiswTlgjR2Lpf1tevFQEOzB9WYvH/Bu9kgr2AlHMPV6+b7gcJij/7W1hndiCk2ahbi7oXjjODF4yEU9yNAhopibe4zzMX+FO4eFYpUmrjS5wvv6aAanfoeIMTwhF81Gj9V3rHf4UsD3VEx773q7GPuXlZSLyiNrUCdvxITh+dW8Y9ICuCTy3bFbp1/HzoPdzkkUlzPNKLlLiV2w4EcxAgMBAAECggEAMjqHfwbFyQxlMHQfQa3xIdd6LejVcqDqfqSB0Wd/A2YfAMyCQbmHpbsKh0B+u4h191OjixX5EBuLfa9MQUKNFejHXaSq+/6rnjFenbwm0IwZKJiEWDbUfhvJ0blqhypuMktXJG6YETfb5fL1AjnJWGL6d3Y7IgYJ56QzsQhOuxZidSqw468xc4sIF0CoTeJdrSC2yDCVuVlLNifm/2SXBJD8mgc1WCz0rkJhvvpW4k5G9rRSkS5f0013ZNfsfiDXoqiKkafoYNEbk7TZQNInqSuONm/UECn5GLm6IXdXSGfm1O2Lt0Kk7uxW/3W00mIPeZD+hiOObheRm/2HoOEKiQKBgQDreVFQihXAEDviIB2s6fphvPcMw/IonE8tX565i3303ubQMDIyZmsi3apN5pqSjm1TKq1KIgY2D4vYTu6vO5x9MhEO2CCZWNwC+awrIYa32FwiT8D8eZ9g+DJ4/IwXyz1fG38RCz/eIsJ0NsS9z8RKBIbfMmM+WnXRez3Fq+cbRwKBgQDEs35qXThbbFUYo1QkO0vIo85iczu9NllRxo1nAqQkfu1oTYQQobxcGk/aZk0B02r9kt2eob8zfG+X3LadIhQ0/LalnGNKI9jWLkdW4dxi7xMU99MYc3NRXmR49xGxgOVkLzKyGMisUvkTnE5v/S1nhu5uFr3JPkWcCScLOTjVxwKBgHNWsDq3+GFkUkC3pHF/BhJ7wbLyA5pavfmmnZOavO6FhB8zjFLdkdq5IuMXcl0ZAHm9LLZkJhCy2rfwKb+RflxgerR/rrAOM24Np4RU3q0MgEyaLhg85pFT4T0bzu8UsRH14O6TSQxgkEjmTsX+j9IFl56aCryPCKi8Kgy53/CfAoGAdV2kUFLPDb3WCJ1r1zKKRW1398ZKHtwO73xJYu1wg1Y40cNuyX23pj0M6IOh7zT24dZ/5ecc7tuQukw3qgprhDJFyQtHMzWwbBuw9WZO2blM6XX1vuEkLajkykihhggi12RSG3IuSqQ3ejwJkUi/jsYz/fwTwcAmSLQtV8UM5IECgYEAh4h1EkMx3NXzVFmLsb4QLMXw8+Rnn9oG+NGObldQ+nmknUPu7iz5kl9lTJy+jWtqHlHL8ZtV1cZZSZnFxX5WQH5/lcz/UD+GqWoSlWuTU34PPTJqLKSYgkoOJQDEZVMVphLySS9tuo+K/h10lRS1r9KDm3RZASa1JnnWopBZIz4="
  x509Certificate: "MIIDvDCCAqQCCQDZK/l5vKIt7jANBgkqhkiG9w0BAQsFADCBnzELMAkGA1UEBhMCSU4xEjAQBgNVBAgMCUtBUk5BVEFLQTETMBEGA1UEBwwKRE9NQVNBTkRSQTERMA8GA1UECgwIRllOQVJGSU4xFDASBgNVBAsMC0RFVkVMT1BNRU5UMR0wGwYDVQQDDBRodHRwczovL2Z5bmFyZmluLmlvLzEfMB0GCSqGSIb3DQEJARYQYXZpa0BmeW5hcmZpbi5pbzAeFw0yMzA0MDUwNjExMDNaFw0yMzA1MDUwNjExMDNaMIGfMQswCQYDVQQGEwJJTjESMBAGA1UECAwJS0FSTkFUQUtBMRMwEQYDVQQHDApET01BU0FORFJBMREwDwYDVQQKDAhGWU5BUkZJTjEUMBIGA1UECwwLREVWRUxPUE1FTlQxHTAbBgNVBAMMFGh0dHBzOi8vZnluYXJmaW4uaW8vMR8wHQYJKoZIhvcNAQkBFhBhdmlrQGZ5bmFyZmluLmlvMIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAtO38XREJbL1r4IAYK6K5ONNXHcmfTKlehRf0YF+vjptt4D/6zBObBOf/zqButSlN3RI/aYXBx/OOU7sjRMnOFYasXtYM5eFSGZDo/v9qsWLwrD9Ur97cE7Pnw3xb+TQNWV6orME5YI0di6X9bXrxUBDswfVmLx/wbvZIK9gJRzD1evm+4HCYo/+1tYZ3YgpNmoW4u6F44zgxeMhFPcjQIaKYm3uM8zF/hTuHhWKVJq40ucL7+mgGp36HiDE8IRfNRo/Vd6x3+FLA91RMe+96uxj7l5WUi8oja1Anb8SE4fnVvGPSArgk8t2xW6dfx86D3c5JFJczzSi5S4ldsOBHMQIDAQABMA0GCSqGSIb3DQEBCwUAA4IBAQBPhTd+DhzbUGqAvsU6T34Iu3k+6Br4N6m90dkvBeMgYL8J7J6Fa7hm7f6xEeDqM+RTPhuFXNlS5swjqUYg/j85jKqVtgYAB6IE7z7BTwBAtF4tJ+jVOV4PfS/lSqvfxwo/qThqU1iXFz9xU38zlqxH5JuWZjeV58uUP/vZC8Ys44RDhU4X1qDbt51Vs8E+DeV1A4aweoEVc/txEdShbxnR2MVpPpca1NOElYW2cTAWjJypgw5bJZX4G0gZmHCZhQtgXSIMC1KSqMM7DK+HA7xTfKNJ+vnD08FOzBAb6nl2cHVb/zySdNWwsPu6w3FmzgFit9Hq2zE2F41167GvRBEL"

identity-account-mapper:
  contactpoint: "https://identity-mapper.sandbox.fynarfin.io"
  endpoints:
    register-beneficiary: /beneficiary
    add-payment-modality: /paymentModality
    update-payment-modality: /paymentModality
    account-lookup: /beneficiary
    batch-account-lookup: /accountLookup
    fetch-beneficiary: /beneficiaries
    actuator: "/actuator/health"

kong:
  admin-contactpoint: "http://kong-admin.sandbox.fynarfin.io"
  endpoint:
    consumers: /consumers
    createKey: /consumers/{username}/key-auth
    services: /services
    createRoute: /services/{serviceId}/routes
    createPlugin: /services/{serviceId}/plugins
    routes: /routes
    plugins: /plugins
  plugin:
    oidc:
      scope: "openid"
      bearerTokenOnly: true
  header:
    apikey: "X-API-KEY"
  service:
    host: "ph-ee-connector-bulk.paymenthub.80.svc"
    channel-connector: "https://ph-ee-connector-channel.paymenthub.8443.svc"
  route:
    host: "bulk-connector.sandbox.fynarfin.io"
    channel:
      host: "channel.sandbox.fynarfin.io"
      path: "/channel/transfer"

voucher-management:
  contactpoint: "https://vouchers.sandbox.fynarfin.io"
  endpoints:
    create-voucher: /vouchers
    voucher-lifecycle: /vouchers
    voucher-validity: /voucher/validity
    fetch: /vouchers
    actuator: "/actuator/health"
    voucher-status: "/voucher/{{serialNumber}}?fields=status"


mock-payment-schema:
  contactpoint: "https://mockpaymentschema.sandbox.fynarfin.io"
  endpoints:
    mock-batch-authorization: "/batches/"
    actuator: "/actuator/health"


netflix-conductor:
  server:
    contactpoint: "https://conductor-server.sandbox.fynarfin.io"
    endpoints:
      home: "/"
      health: "/health"
      workflow: "/api/workflow"

keycloak:
  contactpoint: http://keycloak.sandbox.fynarfin.io
  realm: "paymenthub"
  introspectionEndpoint: "http://keycloak.sandbox.fynarfin.io/auth/realms/{realm}/protocol/openid-connect/token/introspect"
  discoveryUrl: "http://keycloak.sandbox.fynarfin.io/auth/realms/{realm}/.well-known/openid-configuration"
  endpoint:
    token: /auth/realms/{realm}/protocol/openid-connect/token
    user: /auth/admin/realms/{realm}/users
    userResetPassword: /auth/admin/realms/{realm}/users/{userId}/reset-password
  config:
    admin:
      username: "admin"
      password: "admin"
    client:
      id: "kong-oidc"
      secret: "QAnfEBawUTHOVCDGtf88tn23buodUHUC"
    grant_type: "password"

config:
  completion-threshold-check:
    completion-threshold: 90

payerFundTransfer:
  tenant:
    payer: "wakanda"
    payee: "jupiter"

mojaloop:
  fspid:
    payer: "payerfsp"
    payee: "payeefsp"
  contactpoint: http://account-lookup-service.sandbox.fynarfin.io
  central-ledger-contactpoint: http://central-ledger.sandbox.fynarfin.io
  account-lookup-admin-contactpoint: http://account-lookup-service-admin.sandbox.fynarfin.io
  endpoint:
    als: /participants/{{identifierType}}/{{identifier}}
    hub-account: /participants/Hub/accounts
    settlement-model: /settlementModels
    participant: /participants
    position-and-limits: /participants/{{fsp}}/initialPositionAndLimits
    add-callback: /participants/{{fsp}}/endpoints
    record-fund: /participants/{{fsp}}/accounts/{{payerfspSettlementAccountId}}
    oracle: /oracles
  callback-endpoints:
    - type: "FSPIOP_CALLBACK_URL_PARTICIPANT_PUT"
      value: "{{CALLBACK_HOST}}/{{fsp}}/participants/{{partyIdType}}/{{partyIdentifier}}"
    - type: "FSPIOP_CALLBACK_URL_PARTICIPANT_PUT_ERROR"
      value: "{{CALLBACK_HOST}}/{{fsp}}/participants/{{partyIdType}}/{{partyIdentifier}}/error"
    - type: "FSPIOP_CALLBACK_URL_PARTIES_GET"
      value: "{{CALLBACK_HOST}}/switch/parties/{{partyIdType}}/{{partyIdentifier}}"
    - type: "FSPIOP_CALLBACK_URL_PARTIES_PUT"
      value: "{{CALLBACK_HOST}}/switch/parties/{{partyIdType}}/{{partyIdentifier}}"
    - type: "FSPIOP_CALLBACK_URL_PARTIES_PUT_ERROR"
      value: "{{CALLBACK_HOST}}/switch/parties/{{partyIdType}}/{{partyIdentifier}}/error"
    - type: "FSPIOP_CALLBACK_URL_QUOTES"
      value: "{{CALLBACK_HOST}}/switch"
    - type: "FSPIOP_CALLBACK_URL_TRANSFER_POST"
      value: "{{CALLBACK_HOST}}/switch/transfers"
    - type: "FSPIOP_CALLBACK_URL_TRANSFER_PUT"
      value: "{{CALLBACK_HOST}}/switch/transfers/{{transferId}}"
    - type: "FSPIOP_CALLBACK_URL_TRANSFER_ERROR"
      value: "{{CALLBACK_HOST}}/switch/transfers/{{transferId}}/error"
    - type: "FSPIOP_CALLBACK_URL_TRX_REQ_SERVICE"
      value: "{{CALLBACK_HOST}}"
    - type: "FSPIOP_CALLBACK_URL_AUTHORIZATIONS"
      value: "{{CALLBACK_HOST}}"

ml-connector:
  host:  "mojaloop.sandbox.fynarfin.io"
  contactpoint: "https://mojaloop.sandbox.fynarfin.io"
  endpoint:
    get-party: "/switch/parties/{{identifierType}}/{{identifier}}"
    get-quote: "/switch/quotes"
    transfer: "switch/transfers"

global_wait_time_ms : 10000


billPay:
  contactpoint: https://bill-pay.sandbox.fynarfin.io
  endpoints:
    inquiry: /bills/{billId}
    payments: /paymentNotifications
    billerRtpRequest: /billTransferRequests
    billStatus: /transferRequests/{{correlationId}}

awaitly:
  maxWaitTime: 25
  pollDelaySeconds: 2
  pollIntervalSeconds: 1

tenantconfig:
  tenants:
    paymentbb1: "rhino"
    paymentbb2: "gorilla"
    payerfsp: "wakanda"
    payeefsp1: "pluto"
    payeefsp2: "venus"
    payeefsp3: "jupiter"

fspconfig:
  payeefsp:
    payeefsp1: "pluto"
    payeefsp2: "venus"
    payeefsp3: "jupiter"
  payerfsp:
    payerfsp1: "wakanda"
    payerfsp2: "gorilla"

totalvouchers: 30
