version: 2.1
orbs:
  slack: circleci/slack@4.12.5
  aws-ecr: circleci/aws-ecr@8.2.1
  helm: circleci/helm@2.0.1
  aws-eks: circleci/aws-eks@2.2.0
  kubernetes: circleci/kubernetes@1.3
  mifos-orb: mifos/docker-image-availability-check-and-upgrade@1.0.2
executors:
  docker-executor:
    docker:
      - image: circleci/openjdk:17-buster-node-browsers-legacy
jobs:
  build:
    docker:
      - image: cimg/openjdk:17.0.0-node
      - image: docker:17.05.0-ce-git
    working_directory: ~/repo
    environment:
      JVM_OPTS: -Xmx512m
      TERM: dumb
    steps:
      - checkout
      - setup_remote_docker
      - aws-ecr/build-and-push-image:
          aws-access-key-id: AWS_ACCESS_KEY_ID
          aws-secret-access-key: AWS_SECRET_ACCESS_KEY
          extra-build-args: "--compress"
          push-image: true
          region: "$REGION"
          registry-id: AWS_REGISTRY_ID
          repo: phee-integration-test
          repo-scan-on-push: true
          role-arn: arn:aws:iam::419830066942:role/CustomAdmin
          tag: latest

  build_and_push_tag_image:
    executor: docker-executor
    environment:
      JVM_OPTS: -Xmx512m
      TERM: dumb
      GITHUB_TOKEN: ${GITHUB_TOKEN}  # Add the GitHub token as an environment variable
    steps:
      - checkout
      - setup_remote_docker:
          version: 20.10.14
      - run:
          name: Build and Push Docker tag Image
          command: |
            # Set environment variables
            IMAGE_TAG=$CIRCLE_TAG

            # Check if the Docker image with the same tag already exists in Docker Hub
            if curl -s -f -u "$DOCKERHUB_USERNAME":"$DOCKERHUB_PASSWORD" "https://hub.docker.com/v2/repositories/openmf/ph-ee-integration-test/tags/$IMAGE_TAG" > /dev/null; then
              echo "Skipping the build and push as the tag $IMAGE_TAG already exists in Docker Hub."
              exit 0
            fi

            # Build and tag the Docker image
            ./gradlew bootJar
            docker build -t "openmf/ph-ee-integration-test:$IMAGE_TAG" .

            # Push the Docker image to Docker Hub
            docker login -u "$DOCKERHUB_USERNAME" -p "$DOCKERHUB_PASSWORD"
            docker push "openmf/ph-ee-integration-test:$IMAGE_TAG"

          # when: always  # The job will be executed even if there's no match for the tag filter

  build_and_push_latest_image:
    executor: docker-executor
    environment:
      JVM_OPTS: -Xmx512m
      TERM: dumb
    steps:
      - checkout
      # Install Docker to build and push the image
      - setup_remote_docker:
          version: 20.10.14

      # Build the Docker image
      - run:
          name: Build Docker image
          command: |
            ./gradlew checkstyleMain
            ./gradlew checkstyleTest
            ./gradlew bootJar
            docker build -t openmf/ph-ee-integration-test:latest .
            if [ "$CIRCLE_BRANCH" != "master" ]; then
              PR_NUMBER=$(basename $CIRCLE_PULL_REQUEST)
              PR_TITLE=$(curl -sSL "https://api.github.com/repos/openmf/$CIRCLE_PR_REPONAME/pulls/$PR_NUMBER" | jq -r '.title')
              JIRA_STORY=$(echo $PR_TITLE | cut -d "[" -f2 | cut -d "]" -f1 | tr '[A-Z]' '[a-z]')
              if [ -z "$JIRA_STORY" ]; then echo "Invalid PR title" && exit 1; else echo "Ticket NO: $JIRA_STORY"; fi
              docker image tag openmf/ph-ee-integration-test:latest openmf/ph-ee-integration-test:$JIRA_STORY
            fi

      # Log in to DockerHub using environment variables
      - run:
          name: Login to DockerHub
          command: echo "${DOCKERHUB_PASSWORD}" | docker login -u "${DOCKERHUB_USERNAME}" --password-stdin

      # Push the Docker image to DockerHub
      - run:
          name: Push Docker image to DockerHub
          command: |
            if [ "$CIRCLE_BRANCH" = "master" ]; then
            docker push openmf/ph-ee-integration-test:latest
            fi
            if [ "$CIRCLE_BRANCH" != "master" ]; then
            PR_NUMBER=$(basename $CIRCLE_PULL_REQUEST)
            PR_TITLE=$(curl -sSL "https://api.github.com/repos/openmf/$CIRCLE_PR_REPONAME/pulls/$PR_NUMBER" | jq -r '.title')
            JIRA_STORY=$(echo $PR_TITLE | cut -d "[" -f2 | cut -d "]" -f1 | tr '[A-Z]' '[a-z]')
            docker push openmf/ph-ee-integration-test:${JIRA_STORY}
            fi
  docker-image-availability-check-and-upgrade:
    docker:
      - image: 'cimg/python:3.10'
    steps:
      - mifos-orb/docker-image-availability-check-and-upgrade:
          namespace: paymenthub
          chart-base-url: https://fynarfin.io/images
          chart-name: ph-ee-g2psandbox-fynarfin
          chart-version: 0.2.0
          release-name: g2p-sandbox
          cluster-name: "sit"
          aws-region: "$REGION"
          service-file-path: https://raw.githubusercontent.com/openMF/ph-ee-env-labs/master/.circleci/services.txt

  create-tls-secret-paymenthub-namespace:
    docker:
      - image: 'cimg/base:2022.06'
    environment:
      TERM: dumb
      NAMESPACE: paymenthub
    steps:
      - setup_remote_docker:
          version: 20.10.14
      - kubernetes/install-kubectl
      - aws-eks/update-kubeconfig-with-authenticator:
          cluster-name: "sit"
          aws-region: "$REGION"
      - run: |
          echo "$KEY" | tr '#' '\n' > key.pem
          echo "$SSL_BUNDLE" | tr '#' '\n' > ssl-bundle.crt
          openssl x509 -in ssl-bundle.crt -text -noout
          if kubectl get secret fyn-cert --namespace $NAMESPACE &> /dev/null; then
            echo "Secret fyn-cert already exists. Skipping creation."
          else
            kubectl create secret tls fyn-cert --namespace $NAMESPACE --key=key.pem --cert=ssl-bundle.crt -o yaml
          fi

  create-secret-paymenthub-namespace:
    docker:
      - image: 'cimg/base:2022.06'
    environment:
      TERM: dumb
      NAMESPACE: paymenthub
    steps:
      - setup_remote_docker:
          version: 20.10.14
      - kubernetes/install-kubectl
      - run: git clone https://github.com/openmf/ph-ee-env-labs
      - aws-eks/update-kubeconfig-with-authenticator:
          cluster-name: "sit"
          aws-region: "$REGION"
      - run: |
          cd ph-ee-env-labs
          export ENV_NAMESPACE=$NAMESPACE
          kubectl config use-context arn:aws:eks:$REGION:419830066942:cluster/sit
          kubectl config get-contexts
          cd helm/kibana-secret/
          make secrets || echo "kibana" already exists

      - run: |
          cd ph-ee-env-labs
          export ENV_NAMESPACE=$NAMESPACE
          kubectl config use-context arn:aws:eks:$REGION:419830066942:cluster/sit
          kubectl config get-contexts
          cd helm/es-secret/
          make secrets || echo "elastic-certificates" already exists

      - run: "kubectl delete pod  -n $NAMESPACE `kubectl get pods -n $NAMESPACE | grep ph-ee-connector-bulk|cut -d ' ' -f1  ` || echo ' ' "
      - run: "kubectl delete pod  -n $NAMESPACE `kubectl get pods -n $NAMESPACE | grep ph-ee-connector-mock-payment-schema|cut -d ' ' -f1  ` || echo ' ' "
      - run: "kubectl delete pod  -n $NAMESPACE `kubectl get pods -n $NAMESPACE | grep ph-ee-importer-rdbms|cut -d ' ' -f1  ` || echo ' ' "
      - run: "kubectl delete pod  -n $NAMESPACE `kubectl get pods -n $NAMESPACE | grep ph-ee-vouchers|cut -d ' ' -f1  ` || echo ' ' "

  deploying-bpmns:
    docker:
      - image: 'cimg/base:2022.06'
    steps:
      - run: git clone https://github.com/openmf/ph-ee-env-labs
      - run: echo $AWS_PROFILE
      - run: echo $AWS_DEFAULT_PROFILE
      - run: |
          #sleep 5
          #sudo apt install -y netcat
          #until nc -vz https://zeebeops.sandbox.fynarfin.io 443; do echo "Waiting for zeebe-ops service"; sleep 2; done;
      - run: |
          cd ph-ee-env-labs
          sh orchestration/deployBpmn.sh
  test-chart-gov:
    docker:
      - image: cimg/openjdk:17.0.0-node
    parallelism: 2
    steps:
      - checkout
      #- run: git clone https://github.com/openmf/ph-ee-integration-test
      - run:
          name: Ngrok setup
          command: curl -s https://ngrok-agent.s3.amazonaws.com/ngrok.asc | sudo tee /etc/apt/trusted.gpg.d/ngrok.asc >/dev/null && echo "deb https://ngrok-agent.s3.amazonaws.com buster main" | sudo tee /etc/apt/sources.list.d/ngrok.list && sudo apt update && sudo apt install ngrok
      - run:
          name: Test execution
          no_output_timeout: 30m
          command: |
            ngrok config add-authtoken $AUTH_TOKEN
            echo "web_addr: $LOCAL_PORT" >> /home/circleci/.config/ngrok/ngrok.yml
            ngrok http 53013 > /dev/null &
            echo -n "Extracting ngrok public url ."
            NGROK_PUBLIC_URL=""
            while [ -z "$NGROK_PUBLIC_URL" ]; do
              # Run 'curl' against ngrok API and extract public (using 'sed' command)
              export NGROK_PUBLIC_URL=$(curl --silent --max-time 10 --connect-timeout 5 \
                                        --show-error http://127.0.0.1:$LOCAL_PORT/api/tunnels | \
                                        sed -nE 's/.*public_url":"https:..([^"]*).*/\1/p')
              sleep 1
              echo -n "."
            done

            export CALLBACK_URL="https://$NGROK_PUBLIC_URL"
            echo -n "Public url ."
            echo $CALLBACK_URL
            ./gradlew test -Dcucumber.filter.tags="@gov"
            echo -n "Test execution is completed, kill ngrok"
            pkill ngrok
      - store_test_results:
          path: build/test-results/test/TEST-org.mifos.integrationtest.TestRunner.xml
      - store_artifacts:
          path: build/test-results
  test-chart-ams:
    docker:
      - image: cimg/openjdk:17.0.0
    parallelism: 2
    steps:
      - checkout
      #- run: git clone https://github.com/openmf/ph-ee-integration-test
      - run:
          name: Ngrok setup
          command: curl -s https://ngrok-agent.s3.amazonaws.com/ngrok.asc | sudo tee /etc/apt/trusted.gpg.d/ngrok.asc >/dev/null && echo "deb https://ngrok-agent.s3.amazonaws.com buster main" | sudo tee /etc/apt/sources.list.d/ngrok.list && sudo apt update && sudo apt install ngrok
      - run:
          name: Test execution
          no_output_timeout: 30m
          command: |
            ngrok config add-authtoken $AUTH_TOKEN
            echo "web_addr: $LOCAL_PORT" >> /home/circleci/.config/ngrok/ngrok.yml
            ngrok http 53013 > /dev/null &
            echo -n "Extracting ngrok public url ."
            NGROK_PUBLIC_URL=""
            while [ -z "$NGROK_PUBLIC_URL" ]; do
              # Run 'curl' against ngrok API and extract public (using 'sed' command)
              export NGROK_PUBLIC_URL=$(curl --silent --max-time 10 --connect-timeout 5 \
                                        --show-error http://127.0.0.1:$LOCAL_PORT/api/tunnels | \
                                        sed -nE 's/.*public_url":"https:..([^"]*).*/\1/p')
              sleep 1
              echo -n "."
            done

            export CALLBACK_URL="https://$NGROK_PUBLIC_URL"
            echo -n "Public url ."
            echo $CALLBACK_URL
            ./gradlew test -Dcucumber.filter.tags="@amsIntegration"
            echo -n "Test execution is completed, kill ngrok"
            pkill ngrok
      - store_test_results:
          path: build/test-results/test/TEST-org.mifos.integrationtest.TestRunner.xml
      - store_artifacts:
          path: build/test-results
workflows:
  deploy:
    jobs:
      - build:
          context:
            - AWS
            - slack
      - build_and_push_tag_image:
          filters:
            tags:
              only: /^v\d+\.\d+\.\d+([-rc.0-9]+)*?$/  # Match tags in the format v1.2.3
          context:
            - DOCKER
      - build_and_push_latest_image:
          context:
            - DOCKER
      - docker-image-availability-check-and-upgrade:
          context:
            - AWS
            - Helm
            - slack
          requires:
            - build
            - build_and_push_tag_image
            - build_and_push_latest_image
      - create-secret-paymenthub-namespace:
          requires:
            - docker-image-availability-check-and-upgrade
          context:
            - AWS
            - Helm
            - slack
            - Secrets
      # - install-helm-chart:
      #     cluster-name: sit
      # - delete-helm-release:
      #     cluster-name: sit
      #     requires:
      #       - install-helm-chart
      - deploying-bpmns:
          requires:
            - create-secret-paymenthub-namespace
          context:
            - AWS
            - Helm
            - slack
      - test-chart-ams:
          requires:
            - deploying-bpmns
          context:
            - AWS
            - Helm
            - slack
            - Ngrok
      - test-chart-gov:
          requires:
            - deploying-bpmns
          context:
            - AWS
            - Helm
            - slack
            - Ngrok
      - create-tls-secret-paymenthub-namespace:
          context:
            - AWS
            - Helm
            - slack
            - Secrets
            - TLS
